{
    "extends": [
        "@tada5hi/eslint-config-typescript"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "no-underscore-dangle": "off",
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": "off"
    },
    "globals": {
        "NodeJS": true
    }
}
