html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Nunito,sans-serif;
    font-size: 13px;
    color: #30373E;
    font-weight: 300;
    background: #D5D8DA none repeat scroll 0% 0%;
}

b, strong {
    font-weight: 700;
}

/*
Generics
 */
.m-b-10 {
    margin-bottom:10px;
}

.m-t-5 {
    margin-top:5px;
}

.m-t-10 {
    margin-top:10px;
}

.m-t-20 {
    margin-top:20px;
}

/*
General
 */
h2.title,
h3.title,
h4.title,
h5.title {
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0,0,0,0.7);
}
h2.title:before,
h3.title:before,
h4.title:before,
h5.title:before {
    content: "";
    width: 4px;
    border-left: 4px solid #2776dc;
    padding-right: 4px;
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}

/*
header
 */
.page-navbar.navbar-fixed-top {
    z-index: 9999999;
}

.page-navbar {
    border-radius: 0px;
    box-shadow: 0px -6px 0px rgba(0, 0, 0, 0.3) inset;
    background-color: rgb(64,67,78);
    margin: 0px auto;
    padding:0px;
    border: none;
    /* height: 56px; */
}

.page-navbar:before,
.page-navbar:after {
    clear:both;
}

.page-navbar .navbar-toggler {
    border-color: #333;
    padding: 9px 10px;
    margin: 8px 15px 8px 0px;
}

.page-navbar .navbar-toggler > .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-top:4px;
    background:#fff;
}

.page-navbar > .navbar-content {
    padding: 0px 130px;
}

.page-navbar .navbar-content > ul > li > a {
    color: #9d9d9d;
    padding: 18px 20px 18px 20px;
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}

.page-navbar .navbar-content .dropdown-menu > .dropdown-item:hover,
.page-navbar .navbar-content .dropdown-menu > .dropdown-item:active,
.page-navbar .navbar-content .dropdown-menu > .dropdown-item:focus,
.page-navbar .navbar-content .dropdown-menu > .dropdown-item.active,
.page-navbar .navbar-content > ul > li > a:hover,
.page-navbar .navbar-content > ul > li > a:active,
.page-navbar .navbar-content > ul > li > a:focus,
.page-navbar .navbar-content > ul  > li > a.active {
    color: #FF5B5B;
    background: #32333B;
    text-decoration: none;
}

.page-navbar .navbar-content .navbar-gadgets {
    margin-left: auto;
}

.page-navbar .navbar-content .navbar-gadgets > li > a.nav-link.user-link {
    text-transform: none;
    position: relative;
}

.page-navbar .navbar-content .navbar-gadgets > li > a.nav-link.user-link img {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    position: absolute;
    left: 12px;
    top: 12px;
}

.page-navbar .navbar-content .navbar-gadgets > li > a.nav-link.user-link span {
    padding-left:36px;
}

.page-navbar .navbar-content > .navbar-gadgets> li > a i {
    font-size:16px;
}

.page-navbar .navbar-content .dropdown-menu {
    background-color: #40434E;
}

.page-navbar .navbar-content .dropdown-menu > .dropdown-item {
    padding: 10px 20px 10px 20px;
    display: block;
    font-size: 11px;
    font-weight: bold;
    color: #9d9d9d;
}

@media (max-width: 1024px) {
    .page-navbar > .navbar-content {
        padding: 0px 50px;
    }
}

@media (max-width: 768px) {
    .page-navbar > .navbar-content {
        padding: 0px;
    }

    .page-navbar .navbar-content .navbar-gadgets {
        flex-direction: row;
    }
}

/*
sidebar
*/

.page-sidebar {
    width:300px;
    background-color: rgb(64,67,78);
    color: #fff;
    transition: all 0.3s;
}

.page-sidebar .sidebar-header {
    padding: 20px;
    -webkit-box-shadow: 0px -6px 0px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0px -6px 0px rgba(0, 0, 0, 0.3) inset;
}

.page-sidebar ul.sidebar-menu {
    padding: 20px 0;
    -webkit-box-shadow: 0px -6px 0px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0px -6px 0px rgba(0, 0, 0, 0.3) inset;
}

.page-sidebar ul p {
    color: #fff;
    padding: 10px;
}

.page-sidebar ul li .sidebar-menu-link,
.page-sidebar ul li .sidebar-submenu-title {
    color: #9d9d9d;
    padding: 18px 15px 18px 15px;
    display: block;
    font-size: 13px;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}

.page-sidebar ul li .sidebar-menu-link:hover,
.page-sidebar ul li .sidebar-menu-link.router-link-active {
    color: #FF5B5B;
    background: #32333B;
}

.page-sidebar ul li .nav-separator {
    display: flex;
    text-align: center;
    align-items: center;
    font-size:14px;
    font-weight: bold;
    padding:5px 0px;
}

.page-sidebar ul li .nav-separator:before,
.page-sidebar ul li .nav-separator:after {
    content: '';
    flex: 1;
    height:3px;
    background: #32333B;
}

.page-sidebar ul li .nav-separator:before {
    margin-right: 5px;
}

.page-sidebar ul li .nav-separator:after {
    margin-left: 5px;
}

.page-sidebar ul li.active > .sidebar-menu-link, .sidebar-menu-link[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

.page-sidebar ul ul {
    list-style: none;
    counter-reset: li;
    margin-left: 15px;
}

.page-sidebar ul ul li:first-child .sidebar-menu-link {
    border-top-left-radius: 4px;
}

.page-sidebar ul ul li:last-child .sidebar-menu-link {
    border-bottom-left-radius: 4px;
}

.page-sidebar ul ul li .sidebar-menu-link {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #b99c9c;
    color: #fafafa;
    text-align: left;
    counter-increment: li;
}

.page-sidebar ul ul li .sidebar-menu-link:before {
    content: "\2022";
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/*
@media (max-width: 768px) {
    .page-sidebar {
        margin-left: -300px;
    }
    .page-sidebar.active {
        margin-left: 0;
    }
}
 */

/*
body
 */
.page-wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.page-content {
    padding: 15px 15px 40px;
    position:relative;
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;
    background: #fafafa;
}

/*
Bootstrap Override
 */
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.list-group > .list-group-item {
    background: none;
}

/*
Login
 */
.login-container {
    width: 100%;
    min-height: 100%;
}

.login-container .login-box {
    width: 400px;
    margin: 0px auto;
    padding-top: 100px;
}

.login-container .login-box .login-body {
    width: 100%;
    float: left;
    background: #f5f5f5;
    padding: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.login-container .login-box .login-body .login-title {
    color: #FFF;
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
    color: #33414e;
}

/*
weekly-tasks
 */
.weekly-task-list img {
    text-align: center;
    display: block;
    margin: 5px auto 10px;
    border-radius: 50%;
    width: 120px;
    height: 120px;

}